
<form>
    <fieldset class="border p-2">
        <legend class="w-auto">Thông tin doanh nghiệp:</legend>
        <div class="container-fluid">
            <div class="row pb-4">
                <div class="col-12">
                    <div class="row pb-4">
                        <div class="col-2"><label>Tên đơn vị</label></div>
                        <div class="col-10"><input class="w-100" /></div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-2"><label>Địa chỉ</label></div>
                        <div class="col-10"><input class="w-100" /></div>
                    </div>
                </div>
            </div>
            <div class="row pb-4">
                <div class="col-6">
                    <div class="row">
                        <div class="col-4"><label>Mã số thuế</label></div>
                        <div class="col-8"><input class="w-100" /></div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-4"><label>Mã fax</label></div>
                        <div class="col-8"><input class="w-100" /></div>
                    </div>
                </div>

            </div>
            <div class="row pb-4">
                <div class="col-6">
                    <div class="row">
                        <div class="col-4"><label>Người đại diện</label></div>
                        <div class="col-8"><input class="w-100" /></div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-4"><label>Người liên hệ</label></div>
                        <div class="col-8"><input class="w-100" /></div>
                    </div>
                </div>
            </div>
            <div class="row pb-4">
                <div class="col-6">
                    <div class="row">
                        <div class="col-4"><label>Email liên hệ</label></div>
                        <div class="col-8"><input class="w-100" /></div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-4"><label>Số điện thoại liên hệ</label></div>
                        <div class="col-8"><input class="w-100" /></div>
                    </div>
                </div>
            </div>
            <div class="row pb-4">
                <div class="col-6">
                    <div class="row">
                        <div class="col-4"><label>Số tài khoản</label></div>
                        <div class="col-8"><input class="w-100" /></div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-4"><label>Tên ngân hàng</label></div>
                        <div class="col-8"><input class="w-100" /></div>
                    </div>
                </div>
            </div>
            <div class="row pb-4">
                <div class="col-6">
                    <div class="row">
                        <div class="col-4"><label>Website</label></div>
                        <div class="col-8"><input class="w-100" /></div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-4"><label>Mã quốc gia</label></div>
                        <div class="col-8"><input class="w-100" /></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <div class="col-4"><label>Địa chỉ bưu điện</label></div>
                        <div class="col-8"><input class="w-100" /></div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-4"><label>Mã bưu điện</label></div>
                        <div class="col-8"><input class="w-100" /></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row"><input class="btn btn-primary mt-4 mr-auto ml-auto" type="button" value="Chỉnh sửa thông tin" /></div>
    </fieldset>
</form>