 <form method="post">
        <div class="">
            <div class="container-fluid">
                <h4 class="text-black-50 text-center">Đăng nhập vào hệ thống</h4>
                <div class="wrap-input2 validate-input" data-validate="Name is required">
                    <input class="input2" type="text" required name="taikhoan">
                    <span class="focus-input2" data-placeholder="TÀI KHOẢN"></span>
                </div>

                <div class="wrap-input2 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <input class="input2" type="password" required name="matkhau">
                    <span class="focus-input2" data-placeholder="MẬT KHẨU"></span>
                </div>
                @if (ViewBag.warning != null)
                {
                    <p class="bg-danger text-white form-control"> @ViewBag.warning</p>
                }
                <div class="row">
                    <input class="col-lg-4 mt-3 ml-auto mr-auto text-white btn-login" type="submit" value="ĐĂNG NHẬP">
                </div>

            </div>
        </div>
</form>